extends layout

block content
  div(class='container')
    img(id='bg_img', src='images/—Pngtree—holiday landscape mountain river background_1083067.jpg')
    img(id='tree1', src='images/output-onlinepngtools (1).png')
    img(id="personwaving", src='images/personwaving1.png')
    //- img(class='tree2', src='images/output-onlinepngtools.png')
    //- div(class='rectangle lax lax_preset_spin')
    //- div(class='object')
    img(id="rock", src='/images/alpine-landscape-cliffside-1b-al1.svg')
    p(id="firstquota") What an amazing view!...
    div(id='redcurtain')
    div(id="phone")
      div(id="screen")
      div(id="panic-button")
        p HELP!
    p(id="dialogue") Hello! Did you ask for help?
    div(id='curtain')
      p(id="openingtext") Click to follow the story
      p(id="closingtext") It's great to get help when you need it the most
    //- div
    //-  <a href='https://pngtree.com/free-backgrounds'>free background photos from pngtree.com/</a>
    
    //- div
  div(class='sections')
    section(id="one")
    section(id="two")
