extends layout

block content
  div(class='container')
    div(class='rellax', data-rellax-speed='-10')
      img(id="rock")
    div(class='rellax', data-rellax-speed='-7')
      img(id='tree')
    div(class='rellax', data-rellax-speed='-3')
      img(id='bg_img')
  section(id="one")
  section(id="two")
