body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0;
  width: 100%;
  overflow: hidden;
}

a {
  color: #00B7FF;
}

.container{
  width: 100%;
  height: 100vh;
  overflow-x:hidden;  
  overflow-y: hidden;
}

#curtain{
  position: absolute;
  background-color: rgba(255, 255, 255);
  top: 0px;
  width: 100%;
  height: 100vh;
  z-index:6;
  opacity: 0.7;
  transition: 1s ease-out;
}

#openingtext{
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  color: blueviolet;
  font-weight: lighter;
  top: 60%;
  font-size: 4em;
  font-style: italic;
  text-align: center;

}

#closingtext{
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  margin: auto;
  color: blueviolet;
  font-weight: lighter;
  top: 20%;
  font-size: 3em;
  max-width: 60%;
  font-style: italic;
  text-align: center;
  opacity: 0;
  transition: 1s ease-in-out 2s;

}

#personwaving{
  position: relative;
  display: block;
  z-index: 1;
  left: 250px;
  top: 330px;
  opacity:0;
  height: 400px;
  transition: 1s ease-in-out 1s;
}
#redcurtain{
  position: absolute;
  background: rgb(255,0,50);
  background: radial-gradient(circle, rgba(255,0,50,0) 17%, rgb(240, 29, 29) 68%); 
  top: 0px;
  width: 100%;
  height: 100vh;
  z-index:4;
  opacity: 0;
  transition: 0.2s linear 0.5s;
  animation-iteration-count: infinite;
}
#bg_img{
  position: fixed;
  width: auto;
  height: 100vh;
  z-index: -5;
  left: 0px;
  top: 0px;
  transition: 3s ease-in-out;
}

#tree1{
  height: 90%;
  top: 50%;
  position: absolute;
  z-index: -1;
  transition: 3s ease-in-out;
}

#dialogue{
  position: absolute;
  bottom:5%;
  color:white;
  text-shadow: 2px 2px 2px #000000;
  left:50%;
  transform: translateX(-50%);
  font-size: 2em;
  z-index: 1;
  opacity: 0;
  transition: 1s ease-in-out 2s;
}

#firstquota{
  position: absolute;
  font-size: 3rem;
  color: rgb(197, 20, 173);
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
  top: 20%;
  left: 60%;
  opacity: 0;
  transition: 1.5s ease-in-out;
  
}
/* .tree2{
  transform-origin: 50% 50%; 
  top: 65%;
  position: absolute;
  z-index: -2;
} */ 

#rock{
  position: absolute;
  display: block;
  left: -10%;
  top: -15%;
  width: 120%;
  z-index:1;
  transition: 3s ease-in-out;
}

#phone{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 230px;
  height: 400px;
  background-color: rgb(41, 41, 41);
  border-radius: 5%;
  transition: 0.6s ease-out;
  opacity: 0;
  z-index: 5;
}

#screen {
  background-color: white;
  width: 90%;
  height: 85%;
  margin: 7.5% 5%;
}

#panic-button{
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  line-height: 5em;
  text-align: center;
  -webkit-box-shadow: 0px 12px 9px 3px rgba(52,52,52,0.62); 
  box-shadow: 0px 8px 9px 3px rgba(52,52,52,0.62);
  transition: 0.4s ease-in;
}

#panic-button p{
  color: white;
  font-weight: bold;
  font-size: 3em;
}

section{
  background-color: blueviolet;
  margin-bottom: 20px;
  height: 500px;
}

.sections{
  background-color: white;
}
